@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: clash display;
  font-style: normal;
  font-weight: 300;
  src: local("Clash Display"),
    url(https://cdn.fontshare.com/wf/VFMK2COV3DN37JR7JQ4CAOJPZ7KWKNY7/ODD5YJNDLHZZB2MIT3DPVH4EIHAMZ34D/BSY64LPTT3OPLVKAZKL3AHKRWZ3D74AC.woff2)
      format("woff");
}
@font-face {
  font-family: clash display;
  font-style: normal;
  font-weight: 500;
  src: local("Clash Display"),
    url(https://cdn.fontshare.com/wf/FPDAZ2S6SW4QMSRIIKNNGTPM6VIXYMKO/5HNPQ453FRLIQWV2FNOBUU3FKTDZQVSG/Z3MGHFHX6DCTLQ55LJYRJ5MDCZPMFZU6.woff2)
      format("woff");
}
@font-face {
  font-family: clash display;
  font-style: normal;
  font-weight: 700;
  src: local("Clash Display"),
    url(https://cdn.fontshare.com/wf/BFBSY7LX5W2U2EROCLVVTQP4VS7S4PC3/IIUX4FGTMD2LK2VWD3RVTAS4SSMUN7B5/53RZKGODFYDW3QHTIL7IPOWTBCSUEZK7.woff2)
      format("woff");
}

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.bg-video__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.Skills-container {
  height: 100vh;
  overflow: hidden;
  display: flex;
}
.skills1 {
  font-size: 35px;
  font-weight: 600;
  font-family: "Roboto Mono", monospace;
  margin-left: 5vw;
}
.skills2 {
  font-size: 35px;
  font-weight: 900;
  font-family: "Roboto Mono", monospace;
  margin-left: 70vw;
}
video {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  object-fit: cover;
}

.skills-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4vh;
  font-size: 30px;
  color: #fff;
}

.Skills-marquee1 {
  font-size: 148px;
  font-family: "Stretch Pro";
}
.Skills-marquee2 {
  font-size: 148px;
  font-family: "Stretch Pro";
}

@media only screen and (max-width: 450px) {
  .Landing-hero-content {
    font-size: 150px;
  }
  .skills1 {
    font-size: 18px;
    font-weight: 600;
    font-family: "Roboto Mono", monospace;
    margin-left: 5vw;
  }
  .skills2 {
    font-size: 18px;
    font-weight: 900;
    font-family: "Roboto Mono", monospace;
    margin-left: 48vw;
  }
  .Skills-marquee1 {
    font-size: 80px;
    font-family: "Stretch Pro";
  }
  .Skills-marquee2 {
    font-size: 80px;
    font-family: "Stretch Pro";
  }
  .Skills-container {
    height: 80vh;
  }
}

@layer components {
  .layout {
    @apply mb-8 w-full rounded-2xl object-cover transition  delay-150 duration-300 ease-in-out hover:scale-105;
  }
}